{% extends 'seinfeld_superfan/index.html' %}
{% load static %}
{% block content %}

<div class="welcome">
    <h1>Welcome to Seinfeld SuperFan</h1>
    <h3>Registration</h3>
    <a href="/existing_user">Already Have An Account? Login Here!</a>
</div>
</div>
{% if messages %}
<ul class='messages'>
    {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div class='register_form'>
    <form action="/register" method="POST" style='width: 500px; margin:auto' class="register">
        {% csrf_token %}
        <label for="first_name">First Name</label>
        <input type="text" name="first_name" class="form-control">
        <br>
        <label for="last_name">Last Name</label>
        <input type="text" name="last_name" class="form-control">
        <br>
        <label for="email">Email</label>
        <input type="email" name="email" class="form-control">
        <br>
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control">
        <br>
        <label for="confirm_password">Password Confirmation</label>
        <input type="password" name="confirm_password" class="form-control">
        <br>
        <input type="submit" value="Register">
    </form>
</div>

{% endblock content %}