<div style='transform: scale(0.65); position: relative; top: -100px;'>
    <h3>At what restaurant do the characters of Seinfeld typically eat?</h3>
    <!-- <p>Choose 1 answer</p> -->
    <hr />

    <div id='block-11' style='padding: 10px;'>
    <label for='option-11' style=' padding: 5px; font-size: 2.5rem;'>
        <input type='radio' name='option' value="Ihop" id='option-11' style='transform: scale(1.6); margin-right: 10px; vertical-align: middle; margin-top: -2px;' />
        Ihop</label>
    <span id='result-11'></span>
    </div>
    <hr />

    <div id='block-12' style='padding: 10px;'>
    <label for='option-12' style=' padding: 5px; font-size: 2.5rem;'>
        <input type='radio' name='option' value="Monk's Cafe" id='option-12' style='transform: scale(1.6); margin-right: 10px; vertical-align: middle; margin-top: -2px;' />
        Monk's Cafe</label>
    <span id='result-12'></span>
    </div>
    <hr />

    <div id='block-13' style='padding: 10px;'>
    <label for='option-13' style=' padding: 5px; font-size: 2.5rem;'>
        <input type='radio' name='option' value="Pizza Hut" id='option-13' style='transform: scale(1.6); margin-right: 10px; vertical-align: middle; margin-top: -2px;' />
        Pizza Hut</label>
    <span id='result-13'></span>
    </div>
    <hr />

    <div id='block-14' style='padding: 10px;'>
    <label for='option-14' style=' padding: 5px; font-size: 2.5rem;'>
        <input type='radio' name='option' value="George's" id='option-14' style='transform: scale(1.6); margin-right: 10px; vertical-align: middle; margin-top: -2px;' />
        George's</label>
    <span id='result-14'></span>
    </div>
    <hr />
    <button type='button' onclick='displayAnswer1()' style='width: 100px; height: 40px; border-radius: 3px; background-color: lightblue; font-weight: 700;'>Submit</button>
</div>
<a id='showanswer1'></a>


<div style='transform: scale(0.65); position: relative; top: -100px;'>
    <h3>What is Kramer's first name?</h3>
    <!-- <p>Choose 1 answer</p> -->
    <hr />

    <div id='block-15' style='padding: 10px;'>
    <label for='option-15' style=' padding: 5px; font-size: 2.5rem;'>
        <input type='radio' name='option' value="Billy" id='option-15' style='transform: scale(1.6); margin-right: 10px; vertical-align: middle; margin-top: -2px;' />
        Billy</label>
    <span id='result-15'></span>
    </div>
    <hr />

    <div id='block-16' style='padding: 10px;'>
    <label for='option-16' style=' padding: 5px; font-size: 2.5rem;'>
        <input type='radio' name='option' value="Ned" id='option-16' style='transform: scale(1.6); margin-right: 10px; vertical-align: middle; margin-top: -2px;' />
        Ned</label>
    <span id='result-16'></span>
    </div>
    <hr />

    <div id='block-17' style='padding: 10px;'>
    <label for='option-17' style=' padding: 5px; font-size: 2.5rem;'>
        <input type='radio' name='option' value="Xander" id='option-17' style='transform: scale(1.6); margin-right: 10px; vertical-align: middle; margin-top: -2px;' />
        Xander</label>
    <span id='result-17'></span>
    </div>
    <hr />

    <div id='block-18' style='padding: 10px;'>
    <label for='option-18' style=' padding: 5px; font-size: 2.5rem;'>
        <input type='radio' name='option' value="Cosmo" id='option-18' style='transform: scale(1.6); margin-right: 10px; vertical-align: middle; margin-top: -2px;' />
        Cosmo</label>
    <span id='result-18'></span>
    </div>
    <hr />
    <button type='button' onclick='displayAnswer2()' style='width: 100px; height: 40px; border-radius: 3px; background-color: lightblue; font-weight: 700;'>Submit</button>
</div>
<a id='showanswer2'></a>